body {
  background-color: darkkhaki;
}

.root {
  height: 80vh;
  width: 80vw;
  background-color: darkolivegreen;
  border: 1px solid purple;
}

.child {
  height: 80%;
  width: 80%;
  background-color: rgb(54, 54, 6);
  border: 1px solid white;
}

.my_header3 {
  background-color: darkkhaki;
}

.my_header3 + p {
  color: aqua;
}

.my_header3 ~ p {
  background-color: brown;
}

.wrapper p {
  color: blue;
  text-align: center;
}

.wrapper > p {
  color: #dc143c;
}

p.some_class {
  background-color: darkgreen;
}

div.some_class {
  background-color: goldenrod;
}

.my_text {
  font-weight: bold;
  font-style: italic;
  font-size: 18pt;
  text-decoration: underline;
  /* text-decoration: line-through; */
  font-family: sans-serif;
}

.yellow-text {
  background-color: yellow;
}

.upper_text {
  text-transform: uppercase;
}