* {
  box-sizing: border-box;
}

p {
  border: 1px solid black;
  background-color: tan;
  text-align: center;
}

.my-block {
  display: inline-block;
  width: 400px;
  height: 300px;
  border: 3px solid black;
  background-color: darkolivegreen;
  padding: 10px;
  margin: 30px;

}

.wrapper {
  border: 3px solid black;
  background-color: darkgray;
  /* padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 40px; */
  padding: 15px 30px 20px 40px;
}

.inner-wrapper {
  /* width: 500px; */
  background-color: coral;
  border-width: 5px;
  border-style: dashed;
  border-color: crimson;
  padding-right: 10px;
  text-align: center;
}

img {
  display: block;
  width: 500px;
  /* margin: 10px auto; */
  margin-right: 0;
  margin-left: auto;
}